mixin postList(posts)
  each post in posts
    div.post-container
      div.date-bubble
        | #{post.postdate}
      a.header-link(href=post.url)
        h4.title!= post.title
      div.post-preview!= post.preview
      if post.enclosure
        div.audio
          h4.title
            | Play episode
          audio(controls="controls")
            | Your browser does not support the audio element.
            source(src=post.enclosure type="audio/mp3")
      if post.readMore
        div.read-more
          a(href=post.url) Read more...
